.App {
  text-align: center;
}

.row{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  padding: 2% 5%;
  justify-content: space-between;
}
.row .email{
  flex-basis: 400px;
}
.row h2{
  flex-basis: 120px;
  font: bold 22px "Open Sans", sans-serif;
}
.list{
  display: flex;
  flex-direction: column;
  
}
